{# Insertamos la base #}
{% extends 'base.html.twig' %}

{# Aplicamos el titulo #}
{% block title %}Búsqueda de actores{% endblock %} 
{% block main %}
	{{ parent() }}
	<p class="display-6">Busqueda de actores en <b>SymfoFilms</b>.</p>
	<p>Indica los criterios de búsqueda en el formulario y presiona el botón <i>Buscar</i>. Para mostrar un listado completo, introduce el carácter % en el campo <i>Valor</i>.</p>

	<div class="bg-light border row align-items-center justify-content-center my-3 p-1">
		{{ form_start(formulario) }}
		<div class="row">
			<div class="col">{{ form_row(formulario.valor)}}</div>
			<div class="col">{{ form_row(formulario.campo)}}</div>
			<div class="col">{{ form_row(formulario.orden)}}</div>
			<div class="col">{{ form_row(formulario.sentido)}}</div>
			<div class="col">{{ form_row(formulario.limite)}}</div>
			<div class="col">{{ form_row(formulario.Buscar)}}</div>
			{{ form_rest(formulario) }}
		</div>
		{{ form_end(formulario) }}
	</div>
	<h3>Resultados</h3>
	{# LISTADO DE PELÍCULAS #}
	{% include '/includes/lista_actores.html.twig' %}

	<div class="text-center">
		<a href="{{path('actor_list')}}">
			<img height="40" width="40" src="{{ asset('images/buttons/list.png')}}"
			alt="Lista" title="Volver al listado de películas">
		</a>
	</div>

{% endblock %}