{% extends 'base.html.twig' %}
{% block title %}Detalles de {{ actor.nombre }}{% endblock %}
{% block main %}
	{{ parent() }}
	<h1 class="display-6">{{actor.nombre}}</h1>

	<p>Detalles de la película {{actor.nombre}} en <b>SymfoFilms</b>.</p>

	<p>Aquí puedes ver los detalles del actor</p>

	<div class="border my-3 p-3">
		<div><h4>Datos:</h4></div>
		<ul>
			<li><strong>ID</strong>: {{actor.id}}</li>
			<li><strong>Nombre</strong>: {{actor.nombre}}</li>
			<li><strong>Nacionalidad</strong>: {{actor.nacionalidad}}</li>
			<li><strong>Fecha de nacimiento</strong>:{{  actor.fecha_nacimiento|date("m/d/Y") }}</li>
			<p>{{actor.biografia}}</p>
		</ul>
	</div>
{% endblock %}