{% extends 'base.html.twig' %}
{% block title %}Detalles de {{ pelicula.titulo }}{% endblock %}
{% block main %}
	{{ parent() }}
	<h1 class="display-6">{{pelicula.titulo}}</h1>

	<p>Detalles de la película {{pelicula.titulo}}, de {{pelicula.director}} en <b>SymfoFilms</b>.</p>

	<p>A lo largo de las próximas semanas iremos editando este ejemplo para dotarlo de nuevas características y funcionalidades.</p>

	<div class="bg-light border row align-items-center justify-content-center my-3">
		<div class="col my-3 p-3 text-start">
			<p><b>ID</b>: {{pelicula.id}}</p>
			<p><b>Título</b>: {{pelicula.titulo}}</p>
			<p><b>Duración</b>: {{pelicula.duracion}}</p>
			<p><b>Director</b>: {{pelicula.director}}</p>
			<p><b>Género</b>: {{pelicula.genero}}</p>
			<p><b>Estreno</b>: {{pelicula.estreno}}</p>
			<p>
				<b>Valoración:</b>
			 	<b>{{ pelicula.valoracion ? pelicula.valoracion ~'/5':'Sin valorar'}}</b>
			</p>
		</div>
		<div class="col m-3 p-3 text-center bg-light">
			<img class="rounded border movie-cover" style="max-width: 240px" alt="Carátula de {{pelicula.titulo}}" title="Carátula de {{pelicula.titulo}}" src="{{asset(covers_directory~'/'~(pelicula.caratula ?? 'default.jpg'))}}">
		</div>
	</div>
	{% if pelicula.sinopsis %}
		<div class="border row align-items-center justify-content-center my-3 p-4">
			<h2>Sinopsis:</h2>
			<p>{{pelicula.sinopsis}}</p>
		</div>
	{% endif %}
{% endblock %}