{% extends 'base.html.twig' %}
{% block title %}Eliminación del usuario {{ usuario.displayname}}{% endblock %}
{% block main %}
	{{ parent() }}
	<div class="bg-light border row align-items-center justify-content-center my-3">
		<div class="col-6 p-4">
			<p>Eliminación del usuario <b>{{ usuario.displayname}}</b></p>
			<p>Por favor, confirma la operación de baja de usuario mediante el formulario.</p>
			{{ form(formulario) }}
		</div>
		<div class="col-6 text-center bg-light">
			<figure class="p-2">
{# 				<img class="rounded border movie-cover" style="max-width: 220px" 
				src="{{ usuario.fotografia?
				path('pic_show', {'fotografia': usuario.fotografia}):
				path('pic_show', {'fotografia':'default.jpg'}) }}"> #}
				
				<img class="rounded border movie-cover" style="max-width: 120px" 
				 src="{{ asset('images/samples/default.jpg') }}">
			</figure>
		</div>
	</div>
	<div class="text-center">
		<a href="{{ path('home') }}">
			<img height="40" width="40" src="{{ asset('images/buttons/home.png')}}">
		</a>
	</div>
{% endblock %}